@import '../../app/app.scss';

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 24px 15px;
  background-color: $BG_BLUE_COLOR;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(46, 91, 255, 0.1);
  border-right: 1px solid rgba(46, 91, 255, 0.1);

  &_button {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 390px;
      margin: 60px 0 160px;
    }

    &__icon {
      width: 20px;
      height: 20px;
      background-color: $GREY;
      margin-bottom: 8px;
    }

    &__title {
      font-size: 12px;
      font-weight: 600;
      line-height: 1.2;
      color: $GREY;
    }

    &__icon,
    &__title {
      transition: 0.1s;
    }

    &.active {
      .menu_button__icon {
        background-color: $BLUE;
      }
      .menu_button__title {
        color: $BLUE;
      }
    }

    &.active:hover {
      .menu_button__icon {
        background-color: $BLUE_HOVER;
      }
      .menu_button__title {
        color: $BLUE_HOVER;
      }
    }

    &:hover &__icon {
      background-color: $GREY_HOVER;
    }

    &:hover &__title {
      color: $GREY_HOVER;
    }

    .dashboard-icon {
      -webkit-mask-image: url(../../../public/assets/svg/dashboard.svg);
      mask-image: url(../../../public/assets/svg/dashboard.svg);
    }

    .users-icon {
      -webkit-mask-image: url(../../../public/assets/svg/users.svg);
      mask-image: url(../../../public/assets/svg/users.svg);
    }

    .settings-icon {
      -webkit-mask-image: url(../../../public/assets/svg/settings.svg);
      mask-image: url(../../../public/assets/svg/settings.svg);
    }

    .pl-icon {
      -webkit-mask-image: url(../../../public/assets/svg/pl.svg);
      mask-image: url(../../../public/assets/svg/pl.svg);
    }

    .vacation-manager-icon {
      -webkit-mask-image: url(../../../public/assets/svg/vacation-manager.svg);
      mask-image: url(../../../public/assets/svg/vacation-manager.svg);
    }
  }

  &_user-info {
    &__icon {
      position: relative;
      right: 2px;
      width: 12px;
      height: 14.4px;
      background-color: $GREY;
      -webkit-mask-image: url(../../../public/assets/svg/bell.svg);
      mask-image: url(../../../public/assets/svg/bell.svg);
      transition: 0.1s;
    }

    &__notification {
      position: relative;
      width: 12px;
      height: 14.4px;
      font-size: 16px;
    }

    &__notification:hover &__icon {
      background-color: $GREY_HOVER;
    }
  }
}
