@import '../../app/app.scss';

.card {
  width: 304px;
  height: 173px;
  padding: 0;
  border: 0.7px solid;
  border-radius: 6px;
  border-image-source: linear-gradient(0deg, rgba(175, 182, 198, 0.4), rgba(175, 182, 198, 0.4)),
    linear-gradient(0deg, #ffffff, #ffffff);
  box-shadow: 2px 2px 15px 0px #002caf0d;

  .ant-card-body {
    padding: 18px 19px;
  }

  &_title {
    font-size: 15px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 17px;
    cursor: pointer;
    transition: 0.1s;
    color: $BLACK;

    .card.default &::after {
      content: 'default';
      width: 72px;
      height: 20px;
      border-radius: 100px;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      padding: 2px 14px;
      margin-left: 9px;
      color: #fff;
      background-color: $BLUE;
    }

    &:hover {
      color: $BLUE;
    }
  }

  &_section {
    display: flex;
    align-items: center;
    margin-bottom: -5px;

    &_title {
      font-size: 13px;
      font-weight: 500;
      width: 91px;
      color: $BLACK;
    }

    .ant-btn-link {
      font-size: 13px;
      line-height: 16px;
      color: $BLUE;

      &:hover > span {
        text-decoration: underline;
      }
    }
  }

  &_avatar-group {
    margin-top: 11px;
    margin-left: -1px;

    .ant-avatar {
      display: flex;
      align-items: center;
      margin-right: 10px;
      font-size: 12px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.1px;
    }
  }
}
