.confirmation-popup {
  &_text {
    position: relative;
    margin: 12px 0 0 28px;

    &::before {
      content: '';
      position: absolute;
      left: -29px;
      width: 17px;
      height: 15px;
      background-color: #f24445;
      -webkit-mask-image: url(../../../../../public/assets/svg/warning.svg);
      mask-image: url(../../../../../public/assets/svg/warning.svg);
    }
  }
}
