$LARGE_CONTAINER: 1366px;

$BG_BLUE_COLOR: #f5f9fe;

$GREY: #afb6c6;
$GREY_HOVER: #868c98;
$BLUE: #00a0ec;
$BLUE_HOVER: #0683dd;
$BLUE_10_OPACITY: #eef7fc;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
}

.app {
  display: flex;
  max-width: $LARGE_CONTAINER;
  min-height: 100vh;
  margin: 0 auto;
}
