@import '../../app/app.scss';

.breadcrumb {
  &_item {
    display: inline-flex;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.1px;
    color: $BLUE;
    margin-top: 5px;
  }

  &_root-item {
    margin-top: 4px;

    &::before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 5px;
      background-image: url(../../../public/assets/svg/settings.svg);
      background-size: contain;
    }
  }
}
